* {
    background-color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .1);

}

header .navbar a img {
    width: 30px;
    image-resolution: 300dpi;
}

.form-container {
    min-height: 102vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    background: url(./assets/imagens/imgcalc2.png) no-repeat;
    background-size: cover;
    z-index:-1;
}

.form-container form {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    background: #f8edfb;
    text-align: center;
}

.form-container form h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #3c104b;
    background: #f8edfb;
}

.form-container form input {
    width: 100%;
    padding: 9px;
    background: #e0adf1;
    border-radius: 3rem;
}

.form-container form input::placeholder {
    color: #2b0837;
    text-transform: initial;
    font-size: 15px;
    text-align: center;
}

.butao {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 3rem;
    background: #f8edfb;
    border: 1.7px solid #8b27ac;
    color: #000;
    padding: .5rem 2rem;
    font-size: 15px;
    text-transform: initial;
    margin-left: 30px;
}

.butao:hover{
    background: rgb(165, 77, 168) ;
    color: #fff;
}